/**
* Fonts
font-family: 'Clash Display', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Array', sans-serif;
font-family: 'Bebas Neue', sans-serif;
*/

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #BADEFC;
}


/**
  * Interface
*/

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: 'Clash Display', sans-serif;
}

/**
* Time
*/
.time {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 6vh;
  background: rgba(0, 0, 0, 0.333);
  padding-top: 5px;
  text-align: center;
}

/**
* Restart
*/
.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 80px;
  background: rgba(0, 0, 0, 0.333);
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
  transition: .3s all;
}
.restart:hover {
  background: rgba(0, 0, 0, 0.449);
  transition: .3s all;
}


/**
 * Controls
 */
 .controls
 {
     position: absolute;
     bottom: 3%;
     right: 0;
     width: 100%;
     /* display: none; */
 }

 .controls .raw
 {
     display: flex;
     justify-content: center;
 }

 .controls .key
 {
     width: 30px;
     height: 30px;
     margin: 4px;
     border: 2px solid #ffffff;
     background: #ffffff44;
 }

 .controls .key.large
 {
     width: 114px;
 }

 .controls .key.active
 {
     background: #ffffff99;
     transition: .3s ease-in-out;
 }
